<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=GBK">
<title>show param</title>
</head>
<body>
<h1>自动绑定的数据</h1>
Url参数:${urlParam} </br>
form参数:${formParam} </br>
form文件:${formFile} </br>
<h1>手动拉取的数据</h1>
Url参数:${urlParam1} </br>
form参数:${formParam1} </br>
form文件:${formFile1} </br>
</body>
</html>